// global style

body {
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

select,
input,
label,
button {
  vertical-align: middle;
}

/*
* 全局滚动条
*/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(233, 236, 239);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(246, 247, 248);
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar,
html.dark ::-webkit-scrollbar-track {
  background-color: #212529;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #343a40;
}
